name: Pytest

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
        isolated_backend_test: [""]
        isolated_validator_test: [""]
        isolated_instrumentation_test: ["0.17b0"]
        include:
          # google pub/sub requires protobuf, and aws (moto) requires jsonschema
          - python_version: "3.9"
            isolated_backend_test: google
            isolated_validator_test: protobuf
          - python_version: "3.9"
            isolated_backend_test: aws
            isolated_validator_test: jsonschema
          - python_version: "3.9"
            isolated_instrumentation_test: "1.7.1"
          - python_version: "3.9"
            isolated_instrumentation_test: "off"
    steps:
      - id: setup
        name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}

      - id: checkout
        name: Checkout PR
        uses: actions/checkout@v2

      - id: pytest
        name: Run Pytest
        run: make test
        env:
          GITHUB_CI: true
          ISOLATED_BACKEND_TEST: ${{ matrix.isolated_backend_test }}
          ISOLATED_VALIDATOR_TEST: ${{ matrix.isolated_validator_test }}
          ISOLATED_INSTRUMENTATION_TEST: ${{ matrix.isolated_instrumentation_test }}

      - id: codecov
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
