name: Release

on:
  workflow_dispatch:
    inputs:
      part:
        description: 'Which part of version to bump?'
        required: true
        default: 'patch'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - id: setup
        name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.8'

      - id: checkout
        name: Checkout PR
        uses: actions/checkout@v2

      - id: release
        name: Release
        run: make release
        env:
          PART: ${{ github.event.inputs.part }}
